:root{
    --color-register:#4285F4;
    --color-signin:#00C851;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
    font-size: 62.25%;
}

body {
    font-family: sans-serif;
}

.container {
    position: fixed;
    width:100%;
    max-width: 50rem;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.form-container{
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
}

.form-container .form-header{
    font-size: 25px;
    text-align:center;
    margin:5px 0;
}
.form-container .row{
    display:flex;
    flex:1 1 100%;
    margin:1px;
}
.item{
    width:100%;
}
.form-container .row .form-item{
    flex:1 1 100%;
    margin:0.5rem 0.5rem;
}
.form-item input:focus{
    box-shadow: 0 0 8px rgb(151, 202, 229);
    outline: none;
}

input{
    height: 4rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid lightgray;
    box-sizing: border-box;
}

.cursor{
    cursor: pointer;
}

.checkbox {
    display: flex;
    align-items: center;
    width: 20%;
}

.label{
    font-size: 1.2rem;
    margin-left: 0.3rem;
    font-weight: 600;
}

.agreement{
    width: 80%;
    font-size: 1.1rem;
    line-height: 1.6rem;
    margin: 0;
}

b{
    color: white;
    background-color: var(--color-register);
    border-radius: 3px;
    padding: 2px 4px;
}

.terms-highlight{
    text-decoration: none;
    color: rgba(88, 133, 148, 0.879);
}

.signin{
    color:#fff;
    background-color: var(--color-signin);
}
.signin:active{
    background-color: #007E33;
}
.register{
    color:#fff;
    background-color: var(--color-register);
}
.register:active{
    background-color: #0d47a1;
}
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
}
footer p {
    font-size: 1.2rem;
    text-align: center;
    margin:0;
    padding:0;
    line-height: 20px;
}

@media (max-width:600px){
    .row:not(:nth-last-child(2)) {
        flex-direction: column;
    }
}
